<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/812f3aff-15cf-4860-84e3-46fa2836752f/resourceGroups/grupolinux/providers/Microsoft.Web/sites/WebLuisPizzeria</ResourceId>
    <ResourceGroup>grupolinux</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://webluispizzeria.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>webluispizzeria.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebLuisPizzeria</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebLuisPizzeria</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>